<h1 class="text-center font-weight-bold my-auto">SIGN UP SUCCESSFULLY</h1>
<table class="table table-bordered m-auto " style="width:40%">
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{name}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{mail}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{phone}}</td>
        </tr>
    </tbody>
</table>
<p class="w-50 text-muted mx-auto text-center mt-3"><a href="./">Back</a></p>